<div class="p-5 h-screen bg-gray-50">

    <div class="container mx-auto">
        <div class="flex items-center justify-between align-middle py-4 text-center w-full mt-5">
            <h1 class="text-xl font-bold text-center w-full">
                Uploaded Invoices
            </h1>
        </div>

        <div class="overflow-auto rounded-lg shadow">
            <table class="w-full">
                <thead class="bg-gray-50 border-b-2 border-gray-200">
                    <tr>
                        <td class="p-3 text-sm font-semibold tracking-wide text-left">Number</td>
                        <td class="p-3 text-sm font-semibold tracking-wide text-left">ID</td>
                        <td class="p-3 text-sm font-semibold tracking-wide text-left">Sender Name</td>
                        <td class="p-3 text-sm font-semibold tracking-wide text-left">Receiver Name</td>
                        <td class="p-3 text-sm font-semibold tracking-wide text-left">Date</td>
                        <td class="p-3 text-sm font-semibold tracking-wide text-left">Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of invoices; let index = index;" class="{{ index % 2 === 1 ? 'bg-gray-100' : 'bg-white' }}">
                        <td class="p-3 text-sm text-gray-700">{{ invoice.id }}</td>
                        <td class="p-3 text-sm text-gray-700">
                            <a href="#" class="font-bold text-blue-500 hover:underline">{{ invoice.invoiceId }}</a>
                        </td>
                        <td class="p-3 text-sm text-gray-700">{{ invoice.senderTitle }}</td>
                        <td class="p-3 text-sm text-gray-700">{{ invoice.receiverTitle }}</td>
                        <td class="p-3 text-sm text-gray-700">{{ invoice.date }}</td>
                        <td class="p-3 text-sm">
                            <button (click)="getDetails(invoice.invoiceId)"
                                class="text-sm text-green-600 hover:underline font-bold">View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div *ngIf="details && showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-[50%] my-6 mx-auto max-w-8xl">
        <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
                <h3 class="text-3xl font-semibold">
                    svs12312312312
                </h3>
            </div>
            <div class="relative p-6 flex justify-center">
                <div class="w-full flex justify-between border border-gray-300 ">
                    <div class="p-3 font-bold">
                        <div class="text-lg">Sender Name</div>
                        <div class="text-sm text-gray-600"> {{ details.invoiceHeader.senderTitle }}</div>
                    </div>

                    <div class="p-3 font-bold">
                        <div class="text-lg">Receiver Name</div>
                        <div class="text-sm text-gray-600"> {{ details.invoiceHeader.receiverTitle }}</div>
                    </div>

                    <div class="p-3 font-bold">
                        <div class="text-lg">Date</div>
                        <div class="text-sm text-gray-600"> {{ details.invoiceHeader.date }}</div>
                    </div>
                </div>
            </div>
            <div class="">
                <table class="w-full">
                    <thead class="bg-gray-50 border-b-2 border-gray-200">
                        <tr>
                            <td class="p-3 text-sm font-semibold tracking-wide text-left">ID</td>
                            <td class="p-3 text-sm font-semibold tracking-wide text-left">Product Name</td>
                            <td class="p-3 text-sm font-semibold tracking-wide text-left">Quantity</td>
                            <td class="p-3 text-sm font-semibold tracking-wide text-left">Unit Code</td>
                            <td class="p-3 text-sm font-semibold tracking-wide text-left">Unit Price</td>
                            <td class="p-3 text-sm font-semibold tracking-wide text-left">Total Price</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detail of details.invoiceLine; let index = index;" class="{{ index % 2 === 1 ? 'bg-gray-100' : 'bg-white' }}">

                            <td class="p-3 text-sm text-gray-700">{{ detail.Id }}</td>
                            <td class="p-3 text-sm text-gray-700">
                                {{ detail.name }}
                            </td>
                            <td class="p-3 text-sm text-gray-700">{{ detail.quantity }}</td>
                            <td class="p-3 text-sm text-gray-700">{{ detail.unitCode }}</td>
                            <td class="p-3 text-sm text-gray-700">{{ detail.unitPrice }}</td>
                            <td class="p-3 text-sm">
                                {{ detail.quantity * detail.unitPrice }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-10 flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
                <button
                    class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                    type="button" (click)="toggleModal()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>